body,h1,h2,h3,h4,h5,h6,form,input,ul,ol,li{
	margin:0;
	padding:0;
	list-style:none;
}
*{
	font-family:"Helvetica Neue",
	Helvetica,Arial,
	"Microsoft Yahei",
	"Hiragino Sans GB",
	"Heiti SC",
	"WenQuanYi Micro Hei",
	sans-serif;
	font-size:14px;
}
a{
	text-decoration:none;
}
img{
	border:none;
}